a:link {
  color: #00ff00;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #00ff00;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}
      body {
        color: white;
        font-family: DotGothic16;
        background-image: url('https://tdrbot.github.io/images/SiteBG.png');
      }

      .container {
        background-color: #07091a;
        border:solid 5px white;
        border-radius: 5px;
        text-align:center;
        width:50%;
        max-width:50%
      }
      .image-container {
        border:solid 5px white;
      }

     body ::selection  {
	     color: black;
	     background: #00ff00;
     }
      table, tr, th, td {
        border: 3px solid white;
        background-color:black;
        font-family: Determination;
        width: 626
      }
      @font-face {
    font-family: Determination;
    src: url("https://tdrbot.github.io/fonts/font8bitoper.ttf");
}
      @font-face {
    font-family: DOS Font;
    src: url("https://tdrbot.github.io/fonts/DOSFont.ttf");
}
      @font-face {
    font-family: ProgressPixel;
    src: url("https://tdrbot.github.io/fonts/ProgressPixel.ttf");
}
      :root {
        scroll-behavior: smooth
      }
      code {
        font-family: Determination;
      }
      small {
        font-family: DotGothic16;
      }
      .arial {
        font-family: Arial
      }
      .hide {
        display: none;
      }
      .discordEmbed {
    float: right;
}
	    .chatcursor {
	cursor:url(/chatroom/favicon2.ico), pointer;
      }
	    *{
	image-rendering: pixelated;
}

.message {
        animation: 10s slide-up;
        margin-top: 0%;
	position: fixed;
	bottom: 0px;
	right: 0;
}

@keyframes slide-up {
  from {
  bottom: -250px;
  }
  to {
  bottom: 0px;
  }
}
a {
  cursor:url("https://tdrbot.github.io/cursors/Pointer.png"), pointer;
}
 html {
   cursor:url("https://tdrbot.github.io/cursors/Default.png"), default;
 }
button {
  cursor:url("https://tdrbot.github.io/cursors/Pointer.png"), pointer;
  border: solid 3px white;
  background-color: black;
  color: White;
  font-family: DotGothic16;
}
button:hover {
  animation: cool, 2s, infinite, cubic-bezier(.55,.09,.68,.53);
	position: relative;
}
option {
  cursor:url("https://tdrbot.github.io/cursors/Pointer.png"), pointer;
}
input {
  cursor:url("https://tdrbot.github.io/cursors/Text.png"), text;
}
.update {
  cursor:url("https://tdrbot.github.io/cursors/Update.png"), default;
}
.rainbow-glow {
  position:relative;
  z-index:2
}
.rainbow-glow:before {
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:100%;
  width:100%;
  z-index:-1;
  transform:scale(1) translateZ(0);
  filter:blur(15px);
  background:linear-gradient(90deg,red,#ff4500,orange,gold,#ff0,#adff2f,green,#20b2aa,#0ff,#00f,indigo,#8a2be2,#9400d3,#c71585,#ff1493);
  background-size:200% 200%;
  animation:animateGlow 5.25s linear infinite
}
.rainbow-glow:hover:before {
  filter:blur(15px) brightness(2.2)
}
@keyframes animateGlow {
  0% {
    background-position:200% 50%
  }
  to {
    background-position:0 50%
  }
}
@keyframes animateGlow-bottom {
  0% {
    background-position:0 200%
  }
  to {
    background-position:50% 0
  }
}
     .profile {
  cursor:url("https://tdrbot.github.io/cursors/User.png"), default;
     }
      .sociallink:active {
	      filter: brightness(50%)
      }
                 .loader {
		      animation: 3s Rotate;
		      animation-duration: 3s;
		      animation-name: Rotate;
		      animation-timing-function: cubic-bezier(.65,.05,.36,1);
		      animation-delay: 1s;
		      animation-iteration-count: infinite;
		 }
@keyframes Rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
}
}
@keyframes cool {
	0% {
		right: -6
	}
	50% {
		right: 6
	}
	100% {
		right: -6
	}
}