a:link {
  color: #00ff00;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #00ff00;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}
body {
  color: white;
  font-family: DotGothic16;
  background-image: url("https://tdrbot.github.io/images/SiteBG.png");
}

.tenna {
  background-image: url("https://tdrbot.github.io/images/tennabg.png");
}

.container {
  background-color: #091a07;
  border: solid 5px white;
  border-radius: 5px;
  text-align: center;
  width: 50%;
  max-width: 50%;
  padding: 10px;
}

body ::selection {
  color: black;
  background: #00ff00;
}
table,
tr,
th,
td {
  border: 3px solid white;
  background-color: black;
  font-family: Determination;
  width: 626;
}
@font-face {
  font-family: Determination;
  src: url("https://tdrbot.github.io/fonts/font8bitoper.ttf");
}
@font-face {
  font-family: DOS Font;
  src: url("https://tdrbot.github.io/fonts/DOSFont.ttf");
}
@font-face {
  font-family: ProgressPixel;
  src: url("https://tdrbot.github.io/fonts/ProgressPixel.ttf");
}
@font-face {
  font-family: deltarune;
  src: url("https://tdrbot.github.io/fonts/deltarune.ttf");
}

@font-face {
  font-family: Sonic2Credits;
  src: url("https://tdrbot.github.io/fonts/credits-font-sonic-the-hedgehog-2.ttf");
}
:root {
  scroll-behavior: smooth;
}
code {
  font-family: Determination;
}

.codebox {
  padding: 10px;
  background: rgb(10, 10, 10);
  border: solid 2px rgb(29, 29, 29);
  font-size: 18px;
  margin: 5px;
  color: grey;
}
img {
  image-rendering: pixelated;
}
.nav-btn {
  width: 10%;
  height: 70px;
}
a,
details {
  cursor: url("https://tdrbot.github.io/cursors/Pointer.png"), pointer;
}

.help {
  cursor: url("https://tdrbot.github.io/cursors/Help.png"), help;
}
html {
  cursor: url("https://tdrbot.github.io/cursors/Default.png"), default;
}
button {
  cursor: url("https://tdrbot.github.io/cursors/Pointer.png"), pointer;
  border: solid 3px orange;
  background-color: black;
  color: orange;
  font-family: Determination;
}
button:hover {
  border: solid 3px yellow;
  color: yellow;
}
option {
  cursor: url("https://tdrbot.github.io/cursors/Pointer.png"), pointer;
}
input, textarea {
  cursor: url("https://tdrbot.github.io/cursors/Text.png"), text;
}
.rainbow-glow {
  position: relative;
  z-index: 2;
}
.rainbow-glow:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: scale(1) translateZ(0);
  filter: blur(15px);
  background: linear-gradient(
    90deg,
    red,
    #ff4500,
    orange,
    gold,
    #ff0,
    #adff2f,
    green,
    #20b2aa,
    #0ff,
    #00f,
    indigo,
    #8a2be2,
    #9400d3,
    #c71585,
    #ff1493
  );
  background-size: 200% 200%;
  animation: animateGlow 5.25s linear infinite;
}
.rainbow-glow:hover:before {
  filter: blur(15px) brightness(2.2);
}
@keyframes animateGlow {
  0% {
    background-position: 200% 50%;
  }
  to {
    background-position: 0 50%;
  }
}
@keyframes animateGlow-bottom {
  0% {
    background-position: 0 200%;
  }
  to {
    background-position: 50% 0;
  }
}
@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.topbar {
  width: 50%;
  max-width: 50%;
  display: flex;
}

.topbar button {
  width: 100%;
  height: 100px;
  font-size: larger;
}

.topbar a:link {
  color: orange;
}

.topbar a {
  width: 100%;
}

.deltarune-font {
  font-family: deltarune;
}

.sonic2-font {
  font-family: Sonic2Credits, Helvetica, sans-serif;
  font-size: 0.75em;
}

textarea {
  font-family: Determination;
  color: white;
  border: solid 3px white;
  background: black;
}

textarea:disabled {
  font-family: Determination;
  color: gray;
  background: black;
}

:root {
    --track-color: #000000;
    --thumb-color: #00aa00;
    --scrollbar-width: 22px;
    --scrollbar-radius: 0px;
    --scrollbar-width-moz: auto;
}

/* Chrome, Edge, Safari */
body::-webkit-scrollbar {
  width: var(--scrollbar-width);
  background-color: var(--track-color);
}
body::-webkit-scrollbar-track {
  background-color: var(--track-color);
  border: solid #00ff00 3px;
}
body::-webkit-scrollbar-thumb {
  border-radius: var(--scrollbar-radius);
  border: 3px solid #00ff00;
  background-clip: padding-box;
  background: repeating-linear-gradient(
    to bottom,
    #000000,
    #000000 16px,
    #00ff00 16px,
    #00ff00 19px
  );
}

/* Firefox */
@supports not selector(::-webkit-scrollbar) {
* {
    scrollbar-width: var(--scrollbar-width-moz);
    scrollbar-color: var(--thumb-color) var(--track-color);
  }
}

